<h1>Bond Over Books</h1>

<p> Add a Book </p>
<p><br><form method="POST" action="/books-add"> Name of book
	<input type="text" name="title"><br> Author/Writer
	<input type="text" name="author"><br>
	<input type="submit" value="Add book">
</form></p>

<p><br>{{#each books}}
	<form method="POST" action="/books-remove">
	<input type="checkbox" name="book" value="{{_id}}">
	{{title}} - {{author}}<br>
{{/each}}
<input type="submit" value="Delete">
</form></p>
