<!DOCTYPE html>
<html>
  <head>
    <title>Bond Over Books</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
		<!--{{#if user}}-->
		<!--<div>You're currently logged in as:<!-- Add a tag --></div>-->
		<!--{{else}}-->
		<a href="/login">login</a> or 
		<a href="/register">register</a>
		<!--{{/if}}-->
		<div>
			{{{body}}}
		</div>
  </body>
</html>
