<!DOCTYPE html>
<html>
  <head>
    <title>Bond Over Books</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
		
		<div> <a href="/">Home Page</a></div>
		{{#if user}}
		<div>You're currently logged in as:<a href=/user/{{user.username}}>{{user.username}}</a></div>
		{{else}}
		<a href="/login">login</a> or 
		<a href="/register">register</a>
		{{/if}}
		<div>
			{{{body}}}
		</div>
  </body>
</html>
