<h1>Bond Over Books</h1>

<div> <a href="/">Sort by title</a> </div>
<div> <a href="/sorted">Sort by author</a> </div>


<h2>Our Library</h2>

{{#each books}}
<div class="books"> <a href="/books/{{slug}}">{{title}} - {{author}}</a> </div>
{{/each}}


