body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.comments {
    min-height: 50px;
    min-width: 50px;
    margin: 25px;
    border: 2px solid black;
    height:auto;
    padding: 10px;
}
